<div class="container">
    <form [formGroup]="studentForm">
        <div class="mb-3 mt-3">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="password">
        </div>
        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" formControlName="remember"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </form>
</div>